loglevel=error

strictStorePkgContentCheck=false
verifyStoreIntegrity=false

network-concurrency=16
fetch-retries=3
fetch-timeout=60000

strict-peer-dependencies=false
auto-install-peers=true

resolution-mode=highest

update-notifier=false
